{% extends 'layout.html' %}
{% block content %}
<div class="mb-4">
    <a href="manage_users"><button class="btn btn-primary mt-1">Manage Users</button></a>
    <a href="manage_job_offer_posts"><button class="btn btn-primary mt-1">Manage Job Offer Posts</button></a>
    <a href="manage_job_alerts"><button class="btn btn-primary mt-1">Manage Job Alerts</button></a>
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Feedback</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.feedback_id }}</td>
                <td>{{ review.email }}</td>
                <td>{{ review.feedback }}</td>
                <td>
                    <form action="{{ url_for('delete_review', feedback_id=review.feedback_id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
