{% extends 'layout.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='jobAlert.css') }}">
{% endblock %}
{% block content %}
<div class="jobalert-form-container">
    <h3 class="mb-4 text-center text-white py-2"  style="background: linear-gradient(to right, #3792c0, #003366);">Edit Your Alert</h3>
    <form action="{{ url_for('editJobAlert', job_alert_id=alert.job_alert_id) }}" method="POST">
        <div class="form-group">
            <label for="job_title">Job Title</label>
            <input type="text" class="form-control" id="job_title" name="job_title" value="{{ alert.job_title }}" required>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location" value="{{ alert.location }}" required>
        </div>
        <div class="form-group">
            <label for="job_type">Job Type</label>
            <input type="text" class="form-control" id="job_type" name="job_type" value="{{alert.job_type }}" required>
</div>
<div class="form-group">
<label for="salary">Salary</label>
<input type="text" class="form-control" id="salary" name="salary" value="{{ alert.salary }}" required>
</div>
<button type="submit" class="btn btn-primary mt-2">Update Alert</button>
</form>

</div>
{% endblock content %}
